<!DOCTYPE html>
{% load humanize %}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>My Awesome Blog</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-slate-700 text-white text-center pt-4 px-3">
        <h1 class="text-5xl font-extrabold">👋 My Awesome Blog 🚀</h1>
        <div class="flex flex-wrap py-2 px-0">
            {% for post in posts %}
            <div class="xl:w-1/3 p-4" id="post-{{post.id}}">
                <div class="bg-white rounded-t shadow-lg">
                    <div class="font-bold text-2xl text-gray-900 pt-3 pb-1">{{post.title}}</div>
                    <p class="text-gray-800 font-serif px-6 font-xl pb-3">{{post.content}}</p>
                </div>
                <div class="bg-white rounded-b rounded-t-none shadow-lg pb-4 px-6">
                    <div class="flex justify-between text-gray-600 text-xs md:text-sm">
                        <p>By {{post.author}}</p>
                        <p>Posted {{post.posted_on|naturaltime}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>